<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a4a14f8a-5a94-43af-8202-1b7e7dd1f8af/resourcegroups/gh_actions_RG/providers/Microsoft.Web/sites/RazorPagesUI20200625121244</ResourceId>
    <ResourceGroup>gh_actions_RG</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://razorpagesui20200625121244.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://razorpagesui20200625121244.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>836c46e9-96a5-4bf3-9396-2bf1107d2ee4</ProjectGuid>
    <MSDeployServiceURL>waws-prod-mwh-007.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RazorPagesUI20200625121244</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RazorPagesUI20200625121244</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>